.one{
    line-height: 150px;
    background-color: #ffffff;
    border: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .two{
    line-height: 330px;
    background-color: #ffffff;
    border: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .three{
    line-height: 150px;
    background-color: #ffffff;
    border: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .four{
    line-height: 150px;
    background-color: #ffffff;
    border: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .five{
    line-height: 330px;
    background-color: #ffffff;
    border: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .six{
    min-height: fit-content;
    background-color: 	#ffffff;
    border: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .seven{
    min-height: fit-content;
    background-color: #ffffff;
    border: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .eight{
    min-height: fit-content;
    background-color: 	#ffffff;
    border: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }